<section class="form-container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { class: "form" }) do |f| %>
  <nav class="navbar">
    <a href=<%= splash_screen_path %> class="menu-button">
      <%= image_tag("hamburger.png") %>
    </a>
    <h1 class="heading">Sign Up</h1>
    <div class="actions">
      <%= f.submit "Next", :class => "menu-button" %>
    </div>
  </nav>
  
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'name-select' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'name-select' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em class="left">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'name-select' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'name-select' %>
  </div>
<% end %>

</section>
