<nav class="navbar">
  <a href=<%= splash_screen_path %>>
    <button class="menu-button">
      <%= image_tag("hamburger.png") %>
    </button>
  </a>
  <h1 class="heading">Categories</h1>
  <%= button_to destroy_user_session_path, method: :delete, class: "menu-button" do %>
    <%= image_tag("logout.png") %>
  <% end %>
</nav>
<p style="color: green"><%= notice %></p>

<div class="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
  <%= button_to "New group", new_group_path, method: :get, class: 'form-submit' %>
</div>

